only-built-dependencies[]=@ffmpeg-installer/linux-x64
only-built-dependencies[]=bufferutil
only-built-dependencies[]=esbuild
only-built-dependencies[]=sharp
ignored-built-dependencies[]=@ffmpeg-installer/darwin-x64
ignored-built-dependencies[]=@ffmpeg-installer/darwin-arm64
ignored-built-dependencies[]=@ffmpeg-installer/linux-arm
ignored-built-dependencies[]=@ffmpeg-installer/linux-arm64
ignored-built-dependencies[]=@ffmpeg-installer/linux-ia32
ignored-built-dependencies[]=@vercel/speed-insights
ignored-built-dependencies[]=unrs-resolver
