.masonry {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 8px;
  --examples-grid-row-gap: 8px;
}

@media (min-width: 640px) {
  .masonry {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    --examples-grid-row-gap: 10px;
  }
}

@media (min-width: 1024px) {
  .masonry {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 12px;
    --examples-grid-row-gap: 12px;
  }
}

.item {
  display: flex;
}
